body {
  background: linear-gradient(135deg, #009543, #FBDE4A, #DC241F);
  font-family: Arial, sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background: white;
  padding: 25px;
  width: 320px;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}

h2 {
  text-align: center;
}

label {
  display: block;
  margin-top: 10px;
}

select, button {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
}

button {
  margin-top: 15px;
  background: #009543;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

#resultat {
  margin-top: 15px;
  text-align: center;
  font-weight: bold;
}